html {
    font-family: sans-serif;
}

* {
    margin: 0;
    padding: 0;
}
.container {
    display: grid;
    grid-template-columns: 1.1fr 4fr;
    grid-template-rows: 21vh 89vh;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.1rem;
}

h3 {
    font-size: 1.1rem;
}

.header {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr .5fr;
    grid-template-rows: 7vh 14vh;
}

.main {
    background-color: bisque;
}

#sidebar {
    background-color: rgb(40, 136, 232);
    grid-row: 1 / 3;;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15vh 36vh 17vh;
    color: white;
}

#sidebar > .sidebar > img {
    height: 2.5rem;
}

#sidebar img {
    height: 1.6rem;
}

#sidebar li {
    display: flex;
    gap: 1vh;
}


#sidebar > div {
    padding: 2rem 1rem;
}

.menu > ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: .7rem;
}

.header .search {
    display: flex;
    padding-left: 1rem;
    align-items: flex-end;
}
.search img {
    height: 1.5rem;
    flex-grow: 0;
}

.search-bar {
    height: 1.5rem;
    background-color: #a59f9f;
    border-radius: 15px;
    flex-grow: 1;
}

.notification {
    display: flex;
    gap: 1vw;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 4vw;
}

.notification-icon {
    height: 1.5rem;
}

.notification img:nth-child(2) {
    height: 2.2rem;
}

.header .account {
    display: flex;
    align-items: center;
}

.header .account img {
    height: 3rem;
}

.header .account-name {
    display: flex;
    flex-direction: column;
    min-width: 250px;
}

.account-name h2 {
    font-size: 1.3rem;
}

.header-menu {
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: flex-end;
    padding-right: 3vw;
}

.header-menu button {
    height: 2.1rem;
    width: 6rem;
    border-radius: 15px;
    background-color: rgb(88, 88, 236);
    color: white;
    font-weight:700;
    font-size: .9rem;
}

.cards-wrapper {
    grid-row: 1 / 3;
}


.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5vw;
    padding-left: 1vw;
    border-radius: 15px;
}

.card p {
    padding-top: 1vw;
    padding-bottom: 2vw;
    text-align: justify;
}

.card {
    background-color: white;
    border-radius: 15px;
    padding: 1vw;
    border-left: .6vw solid orange;
}

.card:hover {
    transform: scale(1.02);
}

.card-icons {
    display: flex;
    justify-content: flex-end;
}

.card-icons img {
    height: 1.3rem;
    padding-left: .4vw;
}

.main h3 {
    padding: 1vw 1vw;
    margin-top: 1vh;
}

.main h3:first-child {

}

.announcements {
    position: relative;
}

div.announcements > h3 {
    position: absolute;
    top: -58px;
    left:0vw;
}

.announcements-border {
    margin-top: 1.5vh;
    margin-left: 1vw;
    height: 1px;
    background-color: #b9b3b3;
    justify-content: center;
}

.main {
    background-color: #e6e5e5;
    
}
.main-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto;
    gap: 1.2vw;
}

.cards-wrapper {
    grid-row: span 2;
}

.announcements {
    height: 40vh;
}

.announcements-wrapper {
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.announcements-wrapper h5 {
    padding: 1vw;

}

.announcements-wrapper p {
    font-size: .8rem;
    padding-left: 1vw;
}

.announcements-wrapper .item-three p {
    padding-bottom: 3vh;
}

.trending {
    position: relative;
}

.trending h3 {
    position: absolute;
    top: -7vh;
    left:0vw;
}
.trending-wrapper img {
    height: 2rem;
}

.trending-wrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
}
.trending-wrapper .item  {
    display: flex;
    padding: 2vh 1vw;
}

.trending-subwrapper {
    padding-left: .6vw;
}
.item-three p {
    padding-bottom: 1vw;
}
